body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}


.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

.card-wrap {
  margin: 10px;
  cursor: pointer;
}
img{
  border-radius: 8px;
}
p {
    margin-top: 2px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 15px;
}
.card {
   position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#upup{
    transition: transform 250ms;
}
#upup:hover{
    transform:scale(1.2);
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
#LeftI:hover{
transform: scale(1.2);

}

button {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  transition: transform 250ms;
}
button:hover {
    transform: scale(1.2);
}
    body{
        font-family: Arail, sans-serif;
    }

    .search-box{
        width: 300px;
        display: inline-block;
        font-size: 14px;
				position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    margin-right: 90px;
    margin-top: 15px;
		transition: all 0.5s linear;

    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 20px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        border-radius: 15px;

    }
    .result{
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }

    .result table{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
			background: #f2f2f2;
			width:100%;
      border-radius: 15px;
    }
    .result p:hover{
        background: #f3f3f3;
    }
		.bottone{
			position:absolute;
			/* background-color:transparent;*/
			 border:none;
			 margin-top: 6px;
			 margin-left:5px;
			/* background: grey;*/
 			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 			display: inline-block;
 			height: 28px;
 			width: 28px;
			}
			.bottone:hover{
				 transform: scale(1.2);
				 transition: transform .4s;

			}
			.bottones{
				position:absolute;
				/*background-color:transparent;*/
				 border:none;
				 margin-top: 6px;
				 margin-left:5px;
				/* background: gold; */
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			display: inline-block;
			height: 28px;
			width: 28px;
			}

			.bottones:hover{
				 transform: scale(1.2);
				 transition: transform .4s;

			}

			#del {
			    position: absolute;
			    margin-top: 4px;
			    width: 28px;
          height: 28px;
			    z-index: 3;
			    margin-left: 209px;
          transition: transform 250ms;
			}
			#del:hover {
			    transform: scale(1.2);
			    transition: transform .4s;
			}
			  .logo {
			        padding:20px;
			    }
					.bar {
			    z-index: 9;
			    position: fixed;
			    width: 100%;
			    height: 72px;
			    background: #333333;
			    padding: 0px;
			    margin: 0px;
			    text-align: center;
			    vertical-align: top;
			}

          /* Styles moved from inline attributes in index.php */
          .page-bg {
            background-color: #f2f2f2;
          }

          .bar--top {
            z-index: 7;
            top: 0;
          }

          #LeftI {
            transition: transform 250ms;
            top: 0;
            left: 0;
            width: 37px;
            margin-left: 40px;
            margin-top: 18px;
            position: absolute;
            cursor: pointer;
          }

          .logo img {
            margin-left: -16px;
          }

          #ricerca {
            width: 40px;
            filter: invert(1);
            position: fixed;
            z-index: 9;
            right: 0;
            top: 0;
            margin-right: 40px;
            margin-top: 20px;
            background: none;
            border: none;
          }

          .song-link {
            color: black;
            text-decoration: none;
            display: block;
          }

          .card img {
            width: 240px;
            height: 240px;
          }

          .card-info {
            padding: 3px 12px;
          }

          .song-title {
            font-size: 20px;
            width: 99%;
            font-style: unset;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .song-title b {
            text-transform: capitalize;
          }

          .song-author {
            text-transform: capitalize;
          }

          #upup{
            z-index: 12;
            position: fixed;
            bottom: 9px;
            right: 11px;
            width: 70px;
            padding: 14px;
            transition: transform 250ms;
          }

          /* Ensure favorite button colors are handled by classes (remove inline backgrounds) */
          .bottone {
            position: absolute;
            border: none;
            margin-top: 6px;
            margin-left: 5px;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            display: inline-block;
            height: 28px;
            width: 28px;
            background: grey;
          }
          .bottone:hover, .bottones:hover{
            transform: scale(1.2);
            transition: transform .4s;
          }
          .bottones {
            position: absolute;
            border: none;
            margin-top: 6px;
            margin-left: 5px;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            display: inline-block;
            height: 28px;
            width: 28px;
            background: gold;
          }

/* Space reserved for the fixed top navigation bar
   Adjust the value below if header height changes. */
#app {
  padding-top: 48px; /* header 72px + 18px gap (approx. 3 <br> equivalent) */
}
