@import url('https://fonts.cdnfonts.com/css/beon-2');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  height: 72px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconaPrincipale {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
 
}

.iconaPrincipale img {
  height: 37px;
}

.iconaPrincipale h1 {
  margin: 0;
  font-weight: 500;
  font-family: 'Beon', sans-serif;
  font-size: 45px;
}