.progress-bar {
    bottom: -20px;
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: #eeeeee80;
    vertical-align: 2px;
    border-radius: 3px;
    cursor: pointer;
   transition: transform 250ms;
   z-index:9;
   }
   .progress-bar:hover {
    transform: translateY(-10px);
   }
   
   .now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 25px;
    width: 0%;
    background-color: #f7b42c;
    background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
   }