a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.containerLogin {
    font-family: 'Arial', sans-serif;
    background: #333333;
    color: #FFF;
    letter-spacing: 1px;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    position: relative;
    width: 22.2rem;
    animation: fadeIn 1s ease-in-out;
}

.form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background-color: rgba(85, 85, 85, 0.5);
    z-index: 99;
    padding: 2rem;
    animation: slideIn 0.8s ease-in-out;
}

.login-container form input {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 1.5rem 0;
    color: #FFF;
    outline: none;
    background-color: rgba(145, 145, 145, 0.12);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease;
    box-sizing: border-box;

}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.3);
    animation: wobble 0.3s ease-in;
}

.login-container form button {
    background: linear-gradient(135deg, #000, #000);
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
    transform: scale(1.02);
}

.illustration {
    position: absolute;
    top: -14%;
    right: -2px;
    width: 100%;
    animation: float 4s ease-in-out infinite;
}

.register-forget {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.register-forget a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.opacity {
    opacity: 0.8;
}

.theme-btn-container {
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.theme-btn:hover {
    width: 40px !important;
}

@keyframes wobble {
    0%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.025);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#register-form input {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 1rem 0;
    color: #FFF;
    outline: none;
    background-color: rgba(145, 145, 145, 0.12);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease;
    box-sizing: border-box;

}

#register-form input:focus {
    box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.3);
    animation: wobble 0.3s ease-in;
}

#register-form button {
    background: linear-gradient(135deg, #000, #000);
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
}

#register-form button:hover {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
    transform: scale(1.02);
}

/* Nuove animazioni per il passaggio tra login e registrazione */
.hide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#login-form, #register-form {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#login-form.hide {
    transform: translateX(-100%);
    opacity: 0;
}

#register-form.hide {
    transform: translateX(100%);
    opacity: 0;
}